export(CoGAPS)
export(binaryA)
export(calcCoGAPSStat)
export(computeGeneGSProb)
export(gapsMapRun)
export(gapsRun)
export(plotAtoms)
export(plotDiag)
export(plotGAPS)
export(plotP)
export(plotSmoothPatterns)
export(reorderByPatternMatch)
export(residuals)

useDynLib(CoGAPS)
importFrom(Rcpp, evalCpp)
importFrom(gplots, heatmap.2)
importFrom(stats, variable.names, sd, update, heatmap, runif)
importFrom(graphics, matplot, title)
importFrom(grDevices, dev.new, dev.off, pdf)
importFrom(methods, is)
importFrom(utils, read.table, write.table)
importFrom(RColorBrewer, brewer.pal)
