export(CoGAPS)
export(GAPS)
export(calcCoGAPSStat)
export(plotGAPS)
if(tools:::.OStype() == "windows") {
importFrom(utils, readRegistry, winProgressBar, setWinProgressBar)
}
importFrom(utils, txtProgressBar, setTxtProgressBar)
importFrom(stats, variable.names, sd, update)
importFrom(graphics, matplot, title)
importFrom(grDevices, dev.new, dev.off, pdf)
importFrom(methods, is)
importFrom(stats, heatmap, runif)
importFrom(utils, read.table, write.table)
S3method(coef, jags)
S3method(update, jags)
S3method(variable.names, jags)
