// default params
params {
    outdir = null
    input = null

    //cogaps params
    npatterns = "5"
    nsets = 1
    niterations = 100
    sparse = 0
    seed = 42
    distributed = "null"
    nthreads = 1

    max_memory = '200.GB'
    max_cpus = 16
    max_time = '72.h'

    n_top_genes = 5000
    slurm_account = null
}

//reporting
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

//output
process {
    publishDir = { "${params.outdir}" }
}


process {
    cpus   = { 1 * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h * task.attempt }

    resourceLimits = [cpus: params.max_cpus, memory: params.max_memory, time: params.max_time]

    errorStrategy = { task.exitStatus in ((130..145) + [104]) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = -1

    withLabel:process_single {
        cpus   = {  1                    }
        memory = {  6.GB * task.attempt  }
        time   = {  4.h  * task.attempt   }
    }
    withLabel:process_low {
        cpus   = {  2     * task.attempt }
        memory = {  12.GB * task.attempt }
        time   = {  4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = {  6     * task.attempt }
        memory = {  24.GB * task.attempt }
        time   = {  8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = {  16    * task.attempt }
        memory = {  72.GB * task.attempt }
        time   = {  16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = {  48.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = {  200.GB * task.attempt }

    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

// profiles to run the pipeline
profiles {
    docker {
        docker.enabled         = true
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    slurm {
        singularity.enabled =    true
        singularity.autoMounts = true
        process {
            executor = 'slurm'
        }
    }
    test {
        process {
            withName: COGAPS {
                cpus = 1
            }
        }
    }
    igs {
        workDir         = "/usr/local/scratch/${env('USER')}/work"
        apptainer {
            enabled     = true
            autoMounts  = true
            pullTimeout = "60m"
            cacheDir    = "/usr/local/scratch/${env('USER')}"
            runOptions  = "--workdir /usr/local/scratch/${env('USER')}"
        }
        process {
            executor = 'slurm'
            clusterOptions = {
                def account = params.slurm_account?.toString()?.trim()
                account ? "-A ${account}" : ''
            }
            errorStrategy =  'retry'
            maxRetries = 3
        }
    }
}